body{
    background-color:rgb(90, 128, 0);
}

h1{
    background-color: blue;
    font-size: 30px;
}
q{
    font-size: 30px;
    color: darkorange;
}

#sabedoria{
    width: 100px;
    height: 100px;
}